// use only .scss and ignore all .css files

!*.css
.idea/*

//thiscounts files

thiscounts/node_modules
thiscounts/public
thiscounts/.tmp
thiscounts/.sass-cache
thiscounts/.idea/*
thiscounts/client/bower_components
thiscounts/dist
thiscounts/server/config/local.env.js
thiscounts/npm-debug.log


//groupys files
groupys/.idea/*
groupys/node_modules/
groupys/www/build/
groupys/platforms/
groupys/plugins/
groupys/*.swp
groupys/.DS_Store
groupys/Thumbs.db
