// use only .scss and ignore all .css files

!*.css
.idea/*

//thiscounts files
.idea
workspace.xml

thiscounts/node_modules
thiscounts/public
thiscounts/.tmp
thiscounts/.sass-cache
thiscounts/.idea/*
thiscounts/client/bower_components
thiscounts/dist
thiscounts/server/config/local.env.js
thiscounts/npm-debug.log
thiscounts/server/config/docker/servers/server_install.sh


//groupys files
groupys/.idea/*
groupys/node_modules/
groupys/www/build/
groupys/platforms/
groupys/plugins/
groupys/*.swp
groupys/.DS_Store
groupys/Thumbs.db
groupys/typings/



groupys/*~
groupys/*.sw[mnpcod]
groupys/*.log
groupys/*.tmp
groupys/*.tmp.*
groupys/log.txt
groupys/*.sublime-project
groupys/*.sublime-workspace
groupys/.vscode/
groupys/npm-debug.log*

groupys/.idea/
groupys/.sass-cache/
groupys/.tmp/
groupys/.versions/
groupys/coverage/
groupys/dist/
groupys/node_modules/
groupys/tmp/
groupys/temp/
groupys/hooks/
groupys/platforms/
groupys/plugins/
groupys/plugins/android.json
groupys/plugins/ios.json
groupys/www/
groupys/$RECYCLE.BIN/

groupys/.DS_Store
groupys/Thumbs.db
groupys/UserInterfaceState.xcuserstate

