<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
    <string>ca-app-pub-3940256099942544/2934735716</string>
    <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
    <string>ca-app-pub-3940256099942544/4411468910</string>
    <key>CLIENT_ID</key>
    <string>726674022060-v36ur1v5k8ph58k8br7oqg13s5ltl8mk.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.726674022060-v36ur1v5k8ph58k8br7oqg13s5ltl8mk</string>
    <key>API_KEY</key>
    <string>AIzaSyBaTVaayzXE8lo2ZfFQvZKVcg-QdMYBbhY</string>
    <key>GCM_SENDER_ID</key>
    <string>726674022060</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.THIS</string>
    <key>PROJECT_ID</key>
    <string>this-1000</string>
    <key>STORAGE_BUCKET</key>
    <string>this-1000.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <true/>
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    <key>IS_APPINVITE_ENABLED</key>
    <false/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    <key>GOOGLE_APP_ID</key>
    <string>1:726674022060:ios:5a8c7084e1550e95</string>
    <key>DATABASE_URL</key>
    <string>https://this-1000.firebaseio.com</string>
    <key>CodePushDeploymentKey</key>
    <string>deployment-key-here</string>
  </dict>
</plist>