<!--
  Generated template for the ContactsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>contacts</ion-title>
</ion-navbar>

<ion-content padding class="contacts">
  <button (click)="sendContacts()">Send Contacts</button>
  <button (click)="back()">Back</button>
  {{xxx}}
  <!--<img style="width: 35px"  src='img/avatar3?time=' + {{xxx}} >
  <img style="width: 35px"  src='img/050-746-9936?time=' + {{xxx}} >-->

  <!--<img src="img/avatar.png"  height="42" width="42">
  <img src="img/1111.png" error="img/avatar.png" height="42" width="42">-->
  <!--<img style="width: 35px" class="img-circle" [src]='getImageUrl("0507469936")' (load)="onImageLoaded()" (error)='onImageError("0507469936")' />-->
  <!--<img [hidden]='isImage["999"]' style="width: 35px" class="img-circle" [src]='getImageUrl("999")' (load)="onImageLoaded()" (error)='src=""' />-->
  <!--<img [src]='getImageUrl("999")' onerror="this.src='img/avatar3.png'">
  <img [src]='getImageUrl("0507469936")' onerror="this.src='img/avatar3.png'">-->
  <!--<img style="width: 35px" class="img-circle" [src]='getImageUrl("999")' (load)='onImageLoaded()' (error)='onImageError("999")' onerror="this.src='img/avatar3.png'">
  <button [hidden]='isImage["999"]' (click)="sendContacts()">Invite</button>
  <img style="width: 35px" class="img-circle" [src]='getImageUrl("0507469936")' (load)='onImageLoaded()' (error)='onImageError("0507469936")' onerror="this.src='img/avatar3.png'">
  <button *ngIf='isImage["0507469936"]' (click)="sendContacts()">Invite</button>-->

  <!--<ion-item-group>
    <template ngFor #contact [ngForOf]="phoneContacts">
      <ion-item >{{contact.displayName}}</ion-item>
      <ion-item >{{contact.phoneNumbers[0].value}}</ion-item>
      <img style="width: 35px" class="img-circle" [src]='getImageUrl(contact.phoneNumbers[0].value)' (load)="onImageLoaded()" (error)='onImageError(contact.phoneNumbers[0].value)' onerror="this.src='img/avatar3.png'">
      <ion-item >isImage[contact.phoneNumbers[0].value]</ion-item>
      <button *ngIf='isImage[contact.phoneNumbers[0].value] == true' (click)="sendContacts()">Invite</button>
    </template>
  </ion-item-group>-->


  <ion-item-group>
    <template ngFor #contact [ngForOf]="phoneContacts">
      <ion-item >{{contact.displayName}}</ion-item>
      <ion-item >{{contact.phoneNumbers[0].value}}</ion-item>
      <img style="width: 35px" class="img-circle" [src]='getImageUrl(contact.phoneNumbers[0].value)' (load)="onImageLoaded(contact.phoneNumbers[0].value)" (error)='onImageError(contact.phoneNumbers[0].value)' onerror="this.src='img/avatar3.png'">
      <div id="contact.phoneNumbers[0].value">
        <button *ngIf='!isImage[contact.phoneNumbers[0].value]' (click)="sendContacts()">INVITE</button>
      </div>
    </template>
    <!--<button *ngIf='isImage[contact.phoneNumbers[0].value]' (click)="sendContacts()">Invite</button>-->
    <!--<img src="{{isPic(contact.phoneNumbers[0].value)}}" onerror="noPic()" height="42" width="42">-->
    <!--<ion-item >{{checkContact(contact.phoneNumbers[0].value)}}</ion-item>-->
    <!--<ion-item checkContact(contact.phoneNumbers[0].value)></ion-item>-->
    <!--<ion-item >{{contact.emails[0].value}}</ion-item>-->
  </ion-item-group>
</ion-content>

