<!--
  Generated template for the BreezePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>breeze</ion-title>
</ion-navbar>

<ion-content padding class="breeze">
  breeze
  
  <div *ngIf = "!heroes">Waiting for heroes ... </div>
  <div *ngIf = "heroes">
    <h3>My favorite hero is {{myHero?.name}}</h3>
    <p>Heroes:</p>
    <ul>
      <li *ngFor="#hero of heroes">
        {{ hero?.name }}
        </li>
    </ul>
  </div>
  
  <hr>
  
  <div *ngIf = "!emps">Waiting for Northwind Employees ... </div>
  <div *ngIf = "emps">
    <h3>My favorite employee is
        {{myEmp?.FirstName}} {{myEmp?.LastName}}</h3>
    <p>Northwind Employees:</p>
    <ul>
      <li *ngFor="#emp of emps">
        {{emp?.FirstName}} {{emp?.LastName}}
        </li>
    </ul>
  </div>
  
  <p *ngIf="emsg" style="color:red">{{emsg}}</p>
</ion-content>
