$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'activity/activity.scss';
@import 'admin/admin.scss';
@import 'app/account/login/login.scss';
@import 'app/activity/activity.scss';
@import 'app/admin/admin.scss';
@import 'app/app.scss';
@import 'app/brand/brand.scss';
@import 'app/campaign/campaign.scss';
@import 'app/card/card.scss';
@import 'app/cardType/cardType.scss';
@import 'app/category/category.scss';
@import 'app/explore/explore.scss';
@import 'app/feed/feed.scss';
@import 'app/group/group.scss';
@import 'app/main/main.scss';
@import 'app/mall/mall.scss';
@import 'app/merchant/merchant.scss';
@import 'app/notification/notification.scss';
@import 'app/product/product.scss';
@import 'app/profile/profile.scss';
@import 'app/promotion/promotion.scss';
@import 'brand/brand.scss';
@import 'campaign/campaign.scss';
@import 'card/card.scss';
@import 'cardType/cardType.scss';
@import 'category/category.scss';
@import 'explore/explore.scss';
@import 'feed/feed.scss';
@import 'group/group.scss';
@import 'main/main.scss';
@import 'mall/mall.scss';
@import 'merchant/merchant.scss';
@import 'notification/notification.scss';
@import 'product/product.scss';
@import 'profile/profile.scss';
@import 'promotion/promotion.scss';
@import 'modal/modal.scss';
// endinjector