<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Business</ion-title>
    <ion-buttons end>
      <button ion-button (click)="onSubmitForm()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>




<ion-content padding class="business">
  Business
<!--
  <form novalidate *ngIf="formActive" [formGroup]="entityForm" (ngSubmit)="onSubmitForm()">
    <ion-item><ion-label fixed>name</ion-label><ion-input type="text" formControlName="name"></ion-input></ion-item>
    <ion-item><ion-label fixed>tax_id</ion-label><ion-input type="text" formControlName="tax_id"></ion-input></ion-item>
    <ion-item><ion-label fixed>description</ion-label><ion-input type="text" formControlName="description"></ion-input></ion-item>
    <ion-item><ion-label fixed>address</ion-label><ion-input type="text" formControlName="address"></ion-input></ion-item>
    <ion-item><ion-label fixed>address2</ion-label><ion-input type="text" formControlName="address2"></ion-input></ion-item>
    <ion-item><ion-label fixed>city</ion-label><ion-input type="text" formControlName="city"></ion-input></ion-item>
    <ion-item><ion-label fixed>country</ion-label><ion-input type="text" formControlName="country"></ion-input></ion-item>
    <ion-item><ion-label fixed>state</ion-label><ion-input type="text" formControlName="state"></ion-input></ion-item>
    <ion-item><ion-label fixed>main_phone_number</ion-label><ion-input type="text" formControlName="main_phone_number"></ion-input></ion-item>
    <ion-item><ion-label fixed>email</ion-label><ion-input type="text" formControlName="email"></ion-input></ion-item>
    <ion-item><ion-label fixed>website</ion-label><ion-input type="text" formControlName="website"></ion-input></ion-item>
    <ion-item><ion-label fixed>info</ion-label><ion-input type="text" formControlName="info"></ion-input></ion-item>
    <ion-item><ion-label>active</ion-label><ion-select formControlName="active" let active="ngForm">
      <ion-option value="Yes">Yes</ion-option>
      <ion-option value="No">No</ion-option>
    </ion-select></ion-item>
    <ion-item><ion-label>type</ion-label><ion-select formControlName="type" let type="ngForm">
      <ion-option value="PERSONAL_SERVICES">PERSONAL_SERVICES</ion-option>
      <ion-option value="SMALL_BUSINESS">SMALL_BUSINESS</ion-option>
      <ion-option value="COMPANY">COMPANY</ion-option>
      <ion-option value="ENTERPRISE">ENTERPRISE</ion-option>
    </ion-select></ion-item>
    <ion-item><ion-label fixed>logo</ion-label><ion-input type="text" formControlName="logo"></ion-input></ion-item>
  </form>
-->

  <form novalidate *ngIf="formActive" [formGroup]="entityForm" (ngSubmit)="onSubmitForm()">
    <ion-item><ion-label fixed>name</ion-label><ion-input type="text" formControlName="name"></ion-input></ion-item>
    <ion-item><ion-label fixed>tax_id</ion-label><ion-input type="text" formControlName="tax_id"></ion-input></ion-item>
    <ion-item><ion-label fixed>address</ion-label><ion-input type="text" formControlName="address"></ion-input></ion-item>
    <ion-item><ion-label fixed>city</ion-label><ion-input type="text" formControlName="city"></ion-input></ion-item>
    <ion-item><ion-label fixed>state</ion-label><ion-input type="text" formControlName="state"></ion-input></ion-item>
    <ion-item><ion-label fixed>email</ion-label><ion-input type="text" formControlName="email"></ion-input></ion-item>
    <ion-item><ion-label>type</ion-label><ion-select formControlName="type" let type="ngForm">
      <ion-option value="PERSONAL_SERVICES">PERSONAL_SERVICES</ion-option>
      <ion-option value="SMALL_BUSINESS">SMALL_BUSINESS</ion-option>
      <ion-option value="COMPANY">COMPANY</ion-option>
      <ion-option value="ENTERPRISE">ENTERPRISE</ion-option>
    </ion-select></ion-item>
  </form>
  <div padding></div>
  <div padding></div>
  <div padding></div>
  <photo-upload [formID]="formID" [data]="photoData"></photo-upload>
  <debug-panel style="z-index:999999999;margin-top:50px" [data]="entityForm.value"></debug-panel>

  <span class="large" [innerHTML]="theHtmlString"></span>

</ion-content>