<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>726674022060-3qlduf2g7sg2bf49rd913s5svt2rfah8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726674022060-3qlduf2g7sg2bf49rd913s5svt2rfah8</string>
	<key>API_KEY</key>
	<string>AIzaSyBaTVaayzXE8lo2ZfFQvZKVcg-QdMYBbhY</string>
	<key>GCM_SENDER_ID</key>
	<string>726674022060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>la.low.this</string>
	<key>PROJECT_ID</key>
	<string>this-1000</string>
	<key>STORAGE_BUCKET</key>
	<string>this-1000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726674022060:ios:c324c79668918915</string>
	<key>DATABASE_URL</key>
	<string>https://this-1000.firebaseio.com</string>
</dict>
</plist>