link(rel="stylesheet", href="app.css", data-inline)

p Hi #{name},

h1 Mars Message

p Welcome to Mars, the red planet.
table
  tr
    td(class="button")
      a(href="http://low.la")
        b Click me

p
  | Thanks,    #[br]
  | THIS team
img(src="cid:THISLogo")
