.contact-component {
  .circleAvatar {
    background: #d8dfea;
    width: 42px;
    height: 42px;
    position: relative;
    border-radius: 100%;
  }

  .iconAvatar {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: white !important;
  }

}
