<!--
  Generated template for the CountriesPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar [hidden]="toggleToolbar">
  <ion-title>countries</ion-title>
  <ion-buttons end>
    <button (click)="toggleToolbars()">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-toolbar [hidden]="!toggleToolbar">
  <ion-searchbar primary
     [(ngModel)]="queryText"
     (input)="searchLowerCase()"
	 (cancel)="toggleToolbars($event)"
     placeholder="Search"
	 debounce="500">
  </ion-searchbar>
</ion-toolbar>

<ion-content padding class="countries">
  <ion-item-group [hidden]="queryText" *ngFor="#letter of alphabet" class="ion_alpha_list_outer">
    <ion-item-divider light attr.id="index_{{letter}}">{{letter}}</ion-item-divider >
    <ion-item *ngFor="#item of sorted_items[letter]" (click)="itemTapped($event, item.callingCodes,item.name, item.callingDigits, item.digitsValidator)">
	{{item.name}}<span class="uppercase" item-right class="callingCodes"> +{{item.callingCodes}}</span>
	</ion-item>
  </ion-item-group>
  <ion-item-group [hidden]="!queryText" class="ion_alpha_list_outer">
    <ion-item *ngFor="#item of items" (click)="itemTapped($event, item.callingCodes,item.name, item.callingDigits, item.digitsValidator)">
	{{item.name}}<span class="uppercase" item-right class="callingCodes"> +{{item.callingCodes}}</span>
	</ion-item>
  </ion-item-group>
  
  <ul class="ion_alpha_sidebar">
    <li *ngFor="#letter of alphabet">
      <a href="#index_{{letter}}">{{ letter }}</a>
    </li>
  </ul>
  <!--<ion-list>
    <button ion-item *ngFor="#country of countries" (click)="itemTapped($event, country)">
      <ion-icon item-left></ion-icon>
      {{country.name}}
      {{country.callingCodes}}
      <!--<div class="item-note" item-right>
        {{country.callingCode}}
      </div>-->
    <!--</button>
  </ion-list>-->
</ion-content>
