<ion-header>
  <ion-navbar>
    <button menuToggle [hidden]="!isLoggedIn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your phone</ion-title>
    <ion-buttons end [hidden]="isAuthorized">
      <button (click)="register()">
        <ion-icon name="checkmark"></ion-icon>
      </button>

    </ion-buttons>
    <ion-buttons end [hidden]="!isAuthorized || isLoggedIn">
      <button (click)="verification(verificationCreds.value)">
        <ion-icon name="checkmark"></ion-icon>
      </button>

    </ion-buttons>

  </ion-navbar>
</ion-header>
<!--<ion-content class="login" *ngIf="!auth.authenticated()">-->

<!--<ion-content class="login" *ngIf="!auth.authenticated()">-->
<ion-content class="login" [hidden]="isAuthorized">
  <ion-label>Please choose your country and enter your full phone number.</ion-label>

  <form (ngSubmit)="register()">
    <ion-item>
	  <ion-label (click)="itemTapped()">{{countryName}}</ion-label>
      <!--<ion-input (click)="itemTapped()" type="text" placeholder="{{countryName}}" ngControl="username"></ion-input>-->
    </ion-item>
`
    <ion-item>
      <ion-label>+{{callingCodes}}</ion-label>
      <ion-input type="text" [(ngModel)]="loginCred.callingDigits"  name="description" placeholder="{{callingDigits}}" id="phoneInput" (keypress)="validateNumbers($event)">
	  </ion-input>
    </ion-item>
  </form>

  <div padding>
    <p  *ngIf="error" class="error">{{ error._body }}</p>
  </div>
    <ion-label>{{baseURL}}</ion-label>
</ion-content>

<ion-content padding class="home" [hidden]="!isAuthorized || isLoggedIn">
  <!--<div *ngIf="auth.authenticated()">-->
    <ion-label>We have sent you a code via SMS.</ion-label>
    <ion-label>Please enter it below.</ion-label>
	<form #verificationCreds="ngForm" (ngSubmit)="verification(verificationCreds.value)">
		<ion-item>
		  <!--<ion-label>Enter Code</ion-label>-->
		  <ion-input type="text" ngControl="code"  placeholder="Enter Code" id="codeInput" (keypress)="validateNumbers($event)">
	      </ion-input>
		</ion-item>
	</form>
</ion-content>

<ion-content padding class="home" [hidden]="!isLoggedIn">
    <button (click)="logout()">Logout</button>
</ion-content>
